// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 * Author: Sam.Shih <sam.shih@mediatek.com>
 */

/dts-v1/;
#include "mt7981.dtsi"

/ {
	model = "SmartRG SDG-8610";
	compatible = "smartrg,sdg-8610", "mediatek,mt7981";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0 0x40000000 0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/delete-node/ramoops@42ff0000;

		bootdata_reserved: bootdata@45000000 {
			no-map;
			reg = <0x0 0x45000000 0x0 0x00001000>;
		};

		ramoops_reserved: ramoops@45001000 {
			no-map;
			compatible = "ramoops";
			reg = <0x0 0x45001000 0x0 0x00140000>;
			ftrace-size = <0x20000>;
			record-size = <0x20000>;
			console-size = <0x20000>;
			pmsg-size = <0x80000>;
		};
	};

	bootdata {
		compatible = "bootdata";
		memory-region = <&bootdata_reserved>;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&button_pins>;

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		mux_oe {
			label = "mux_oe";
			gpios = <&pio 7 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		sfp_red {
			label = "sfp_red";
			gpios = <&pio 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		sfp_green {
			label = "sfp_green";
			gpios = <&pio 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	sfp1: sfp1 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c0>;
		los-gpios = <&pio 11 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&pio 0 GPIO_ACTIVE_LOW>;
		rate-select0-gpios = <&pio 12 GPIO_ACTIVE_HIGH>;
		tx-disable-gpios = <&pio 9 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios = <&pio 10 GPIO_ACTIVE_HIGH>;
		maximum-power-milliwatt = <3000>;
	};
};

&eth {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio_pins>;
	status = "okay";

	gmac0: mac@0 {
		label = "wan";
		compatible = "mediatek,eth-mac";
		reg = <0>;

		phy-mode = "sgmii";
		phy-handle = <&phy24>;
	};

	gmac1: mac@1 {
        label = "lan";
		compatible = "mediatek,eth-mac";
		reg = <1>;

		phy-mode = "gmii";
		phy-handle = <&int_gbe_phy>;
	};

	mux: mux-bus {
		mux0: ethernet-mux@0 {
			compatible = "mediatek,eth-mux";
			reg = <0>;
			label = "wan";

			chan-sel-gpios = <&pio 6 GPIO_ACTIVE_LOW>;
			mod-def0-gpios = <&pio 0 GPIO_ACTIVE_LOW>;

			channel0: channel@0 {
				reg = <0>;
				phy-mode = "sgmii";
				phy-handle = <&phy24>;
			};

			channel1: channel@1 {
				reg = <1>;
				phy-mode = "1000base-x";
				sfp = <&sfp1>;
				managed = "in-band-status";
			};
		};
	};
};

&mdio_bus {
	reset-gpios = <&pio 39 GPIO_ACTIVE_LOW>;
	reset-delay-us = <1500000>;
	reset-post-delay-us = <1000000>;

	phy24: ethernet-phy@24 {
		/* PEF7071 */
		compatible = "intel,phy11g", "ethernet-phy-ieee802.3-c22";
		reg = <0x18>;
	};
};

&crypto {
	status = "okay";
};

&pio {
	button_pins: button-pins {
		pins = "GPIO_RESET";
		mediatek,pull-down-adv = <0>; /* bias-disable */
	};

	i2c0_pins: i2c0-pins {
		mux {
			function = "i2c";
			groups =  "i2c0_1";
		};
	};

	mmc0_pins_default: mmc0-pins-default {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
	};

	mmc0_pins_uhs: mmc0-pins-uhs {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
	};

	spi2_flash_pins: spi2-pins {
		mux {
			function = "spi";
			groups = "spi2";
			/* groups = "spi2", "spi2_wp_hold"; */
		};

		conf-pu {
			/* pins = "SPI2_CS", "SPI2_HOLD", "SPI2_WP"; */
			pins = "SPI2_CS";
			drive-strength = <8>;
			bias-pull-up = <103>;
		};

		conf-pd {
			pins = "SPI2_CLK", "SPI2_MOSI", "SPI2_MISO";
			drive-strength = <8>;
			bias-pull-down = <103>;
		};
	};
};

&mmc0 {
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	bus-width = <8>;
	max-frequency = <52000000>;
	cap-mmc-highspeed;
	vmmc-supply = <&reg_3p3v>;
	non-removable;
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_flash_pins>;
	status = "disabled";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;

		compatible = "jedec,spi-nor";
		reg = <0>;

		spi-max-frequency = <25000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@00000 {
				label = "BL2";
				reg = <0x00000 0x0040000>;
			};

			partition@40000 {
				label = "u-boot-env";
				reg = <0x40000 0x0010000>;
			};

			factory: partition@50000 {
				label = "Factory";
				reg = <0x50000 0x00B0000>;
			};

			partition@100000 {
				label = "FIP";
				reg = <0x100000 0x0080000>;
			};
		};
	};
};


&xhci {
	vusb33-supply = <&reg_3p3v>;
	vbus-supply = <&reg_5v>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb_phy {
	status = "disabled";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	system-leds {
		compatible = "srg,sysled";
		reg = <0x30>;

		system_red {
			label = "red";
			reg = <1>;
		};

		sys_status: system_green {
			label = "green";
			reg = <2>;
			linux,default-trigger = "timer";
		};

		system_blue {
			label = "blue";
			reg = <3>;
		};

		system_white {
			label = "white";
			reg = <4>;
		};
	};
};

&watchdog {
	status = "okay";
};

&wifi {
	status = "okay";
	mediatek,eeprom-file-offset = <0x0>;
	ieee80211-freq-limit = <2400000 2500000>, <5170000 5835000>;
};
