// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 */

/ {
	sound_wm8960 {
		compatible = "mediatek,mt7986-wm8960-sound";
		audio-routing =
				"Headphone", "HP_L",
				"Headphone", "HP_R",
				"LINPUT1", "AMIC",
				"RINPUT1", "AMIC";
		status = "disabled";

		platform {
			sound-dai = <&afe>;
		};

		codec {
			sound-dai = <&wm8960>;
		};
	};

	dummy_codec: dummy_codec {
		compatible = "d2,slic-dummy-codec";
	};

	sound_si3218x {
		compatible = "mediatek,mt7986-si3218x-sound";
		status = "okay";

		platform {
			sound-dai = <&afe>;
		};

		codec {
			sound-dai = <&dummy_codec>;
		};
	};
};

&afe {
	compatible = "mediatek,mt7986-afe";

	pinctrl-names = "default";
	pinctrl-0 = <&pcm_pins>;
	status = "okay";
};

&i2c1 {
	wm8960: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
	};
};

&pio {
	i2s_pins: i2s-pins {
		mux {
			function = "audio";
			groups = "i2s";
		};
	};

	pcm_pins: pcm-pins {
		mux {
			function = "audio";
			groups = "pcm";
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	status = "okay";

	/* override clock names until this is synced upstream */
	clock-names = "parent-clk", "sel-clk", "spi-clk", "hclk";

	slic: slic@0 {
		compatible = "silabs,si3210";
		spi-max-frequency = <10000000>;
		reg = <0>;
	};
};
