// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2026 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 */

&radio0 {
	power-limits {
		r0 {
			country = "AU";

			txpower-2g {
			};

			txpower-5g {
			};
		};
		r1 {
			country = "NZ";

			txpower-2g {
			};

			txpower-5g {
			};
		};
	};
};
