// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 */

#include "mt7988a-smartrg-mt-stuart.dtsi"

/ {
	model = "SmartRG SDG-8733v";
	compatible = "smartrg,sdg-8733v", "mediatek,mt7988a";

	sound: sound_wm8960 {
		compatible = "mediatek,mt79xx-wm8960-machine";
		mediatek,platform = <&afe>;
		mediatek,audio-codec = <&wm8960>;
		audio-routing =
				"Headphone", "HP_L",
				"Headphone", "HP_R",
				"LINPUT1", "AMIC",
				"RINPUT1", "AMIC";
		status = "okay";
	};
};

&afe {
	pinctrl-names = "default";
	pinctrl-0 = <&pcm_pins>;
	status = "okay";
};

&gmac1 {
	phy-connection-type = "usxgmii";
	phy = <&phy0>;
};

&i2c1 {
	wm8960: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
	};
};

&pio {
	i2s_pins: i2s-pins {
		mux {
			function = "audio";
			groups = "i2s";
		};
	};

	pcm_pins: pcm-pins {
		mux {
			function = "audio";
			groups = "pcm";
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	status = "okay";

	slic: slic@0 {
		compatible = "siliconlab,slic";
		reg = <0>;
		spi-max-frequency = <2000000>;
	};
};
