// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2026 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 *
 * MT7988 built-in gigabit switch as lan2..lan4 with per-port GPIO
 * LEDs, shared by the Mt. Stuart designs that expose the gsw ports.
 */

/ {
	leds: gpio-leds {
		compatible = "gpio-leds";

		lan2_amber {
			color = <LED_COLOR_ID_AMBER>;
			function = "lan2";
			gpios = <&pio 59 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mt7530-0:01:100Mbps";
		};

		lan2_green {
			color = <LED_COLOR_ID_GREEN>;
			function = "lan2";
			gpios = <&pio 65 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mt7530-0:01:1Gbps";
		};

		lan3_amber {
			color = <LED_COLOR_ID_AMBER>;
			function = "lan3";
			gpios = <&pio 60 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mt7530-0:02:100Mbps";
		};

		lan3_green {
			color = <LED_COLOR_ID_GREEN>;
			function = "lan3";
			gpios = <&pio 66 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mt7530-0:02:1Gbps";
		};

		lan4_amber {
			color = <LED_COLOR_ID_AMBER>;
			function = "lan4";
			gpios = <&pio 61 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mt7530-0:03:100Mbps";
		};

		lan4_green {
			color = <LED_COLOR_ID_GREEN>;
			function = "lan4";
			gpios = <&pio 67 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mt7530-0:03:1Gbps";
		};
	};
};

&gmac0 {
	nvmem-cells = <&macaddr 0x1>;
	nvmem-cell-names = "mac-address";
	label = "dsa0";

	status = "okay";
};

&gsw_phy0 {
	status = "disabled";
};

&switch {
	status = "okay";

	ports {
		port@0 {
			status = "disabled";
		};

		port@1 {
			label = "lan2";
		};

		port@2 {
			label = "lan3";
		};

		port@3 {
			label = "lan4";
		};
	};
};
