// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 */

#include "mt7988a-smartrg-mt-stuart.dtsi"

/ {
	model = "SmartRG SDG-8713";
	compatible = "smartrg,sdg-8713", "mediatek,mt7988a";

	/delete-node/ thermal-zones;
	thermal-zones {
		cpu_thermal: cpu-thermal {
			polling-delay-passive = <1000>;
			polling-delay = <1000>;
			thermal-sensors = <&lvts 0>;

			trips {
				cpu_trip_crit: crit {
					temperature = <125000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};
		};
	};
};

/delete-node/ &fan;
/delete-node/ &phy0;
/delete-node/ &phy8;
/delete-node/ &radio0;

&gmac1 {
	label = "lan1";
	phy = <&phy1>;
};

&gmac2 {
	label = "wan";
	phy = <&phy2>;
};

&mdio_bus {
	/delete-property/ reset-gpios;
	/delete-property/ reset-delay-us;
	/delete-property/ reset-post-delay-us;

	phy1: ethernet-phy@1 {
		/* Realtek RTL8261 - LAN1 */
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <1>;
		#thermal-sensor-cells = <0>;

		reset-gpios = <&pio 62 GPIO_ACTIVE_LOW>;
		reset-assert-us = <100000>;
		reset-deassert-us = <221000>;

		leds {
			#address-cells = <1>;
			#size-cells = <0>;

			led@0 {
				reg = <0>;
				color = <LED_COLOR_ID_WHITE>;
				function = LED_FUNCTION_LAN;
				function-enumerator = <1>;
			};

			led@1 {
				reg = <1>;
				color = <LED_COLOR_ID_GREEN>;
				function = LED_FUNCTION_LAN;
				function-enumerator = <1>;
				active-low;
			};

			led@3 {
				reg = <3>;
				color = <LED_COLOR_ID_ORANGE>;
				function = LED_FUNCTION_LAN;
				function-enumerator = <1>;
				active-low;
			};
		};
	};

	phy2: ethernet-phy@2 {
		/* Realtek RTL8261 - WAN */
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <2>;
		#thermal-sensor-cells = <0>;

		reset-gpios = <&pio 71 GPIO_ACTIVE_LOW>;
		reset-assert-us = <100000>;
		reset-deassert-us = <221000>;

		leds {
			#address-cells = <1>;
			#size-cells = <0>;

			led@0 {
				reg = <0>;
				color = <LED_COLOR_ID_WHITE>;
				function = LED_FUNCTION_WAN;
				active-low;
			};

			led@1 {
				reg = <1>;
				color = <LED_COLOR_ID_ORANGE>;
				function = LED_FUNCTION_WAN;
			};

			led@3 {
				reg = <3>;
				color = <LED_COLOR_ID_GREEN>;
				function = LED_FUNCTION_WAN;
			};
		};
	};
};

&pcie0 {
	status = "disabled";
};

&pcie1 {
	wifi-reset-gpios = <&pio 7 GPIO_ACTIVE_LOW>;
	wifi-reset-msleep = <100>;
	wifi-deassert-msleep = <500>;
	status = "okay";

	pcie@0,0 {
		reg = <0x0000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;

		radio0: mt7996@0,0 {
			reg = <0x0000 0 0 0 0>;
			#address-cells = <1>;
			#size-cells = <0>;
			nvmem-cells = <&eeprom_factory_0>, <&precal_factory_1e10>;
			nvmem-cell-names = "eeprom", "precal";
			ieee80211-freq-limit = <2400000 2500000>, <5170000 5835000>;

			band@0 {
				/* 2.4 GHz */
				reg = <0>;
				nvmem-cells = <&macaddr 0x4>;
				nvmem-cell-names = "mac-address";
			};

			band@1 {
				/* 5 GHz */
				reg = <1>;
				nvmem-cells = <&macaddr 0xa>;
				nvmem-cell-names = "mac-address";
			};
		};
	};
};

#include "mt7988a-smartrg-SDG-8713-power-limits-r0-RCM-AU-NZ.dtsi"
#include "mt7988a-smartrg-SDG-8713-power-limits-r1-IC-CA.dtsi"
#include "mt7988a-smartrg-SDG-8713-power-limits-r2-ETSI-GB.dtsi"
#include "mt7988a-smartrg-SDG-8713-power-limits-r3-ETSI.dtsi"
#include "mt7988a-smartrg-SDG-8713-power-limits-r4-FCC-US.dtsi"

&ssusb1 {
	status = "disabled";
};

&tphy {
	status = "disabled";
};

&serial1 {
	status = "disabled";
};

&serial2 {
	status = "disabled";
};

&xsphy {
	status = "disabled";
};
