// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 */

#include "mt7988d-smartrg-mt-stuart-phase2.dtsi"

/ {
	model = "SmartRG SDG-9732i";
	compatible = "smartrg,sdg-9732i", "mediatek,mt7988a";
};

&radio0 {
	ieee80211-freq-limit = <2400000 2500000>, <5170000 5835000>, <5945000 7125000>;
};
