// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 */

#include "mt7988a-smartrg-mt-stuart.dtsi"
#include "mt7988a-smartrg-mt-stuart-voice.dtsi"

/ {
	model = "SmartRG SDG-8733v";
	compatible = "smartrg,sdg-8733v", "mediatek,mt7988a";
};

&gmac1 {
	phy-connection-type = "usxgmii";
	phy = <&phy0>;
};
