// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2026 SmartRG Inc.
 * Author: Chad Monroe <chad.monroe@smartrg.com>
 *
 * MT7995 tri-band radio: main function and radio node on
 * pcie0, second function and module reset on pcie3, with the matching
 * mt7995 factory precal. Consumers set the pcie0 pinctrl (board
 * routing differs).
 */

#include "mt7988-smartrg-wifi-pcie3.dtsi"
#include "mt7988-smartrg-factory-mt7995.dtsi"

&pcie0 {
	status = "okay";

	pcie@0,0 {
		reg = <0x0000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;

		radio0: mt7996@0,0 {
			reg = <0x0000 0 0 0 0>;
			#address-cells = <1>;
			#size-cells = <0>;
			nvmem-cells = <&eeprom_factory_0>, <&precal_factory_1e10>;
			nvmem-cell-names = "eeprom", "precal";
			ieee80211-freq-limit = <2400000 2500000>, <5170000 5835000>, <5945000 7125000>;

			band@0 {
				/* 2.4 GHz */
				reg = <0>;
				nvmem-cells = <&macaddr 0x4>;
				nvmem-cell-names = "mac-address";
			};

			band@1 {
				/* 5 GHz */
				reg = <1>;
				nvmem-cells = <&macaddr 0xa>;
				nvmem-cell-names = "mac-address";
			};

			band@2 {
				/* 6 GHz */
				reg = <2>;
				nvmem-cells = <&macaddr 0x6>;
				nvmem-cell-names = "mac-address";
			};
		};
	};
};
